.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 50px 0 50px 50px; /* Keep margin on top and left */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.logo-image {
  width: 50px;
  height: auto;
  margin-left: 10px;
  animation: spin 5s linear infinite;
}

.logo-text {
  color: #d42727;
  font-family: "Jersey20", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 4rem;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem; /* Increase gap between items */
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Jersey20", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 2.5rem; /* Increase font size */
  padding: 0.5rem 1rem; /* Add padding to navbar items */
}

.navbar a:hover {
  color: #d42727;
}
