@font-face {
  font-family: "Jersey20";
  src: url("/Jersey20-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Jersey20", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #000000;
}

:root {
  --primary-color: #d42727;
  --algo-blue: rgb(26, 16, 219);
  --xmr-orange: rgb(237, 91, 38);
}
